
* {
    margin: 0;
    text-decoration: none;
}


@font-face {
    font-family: 'mybrice';
    src: url(Brice-BlackSemiExpanded.otf);
}


@font-face {
    font-family: 'briceblack_semiexpanded';
    src: url('brice-blacksemiexpanded-webfont.woff2') format('woff2'),
         url('brice-blacksemiexpanded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.estrella_header {
    width: 5vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    width: 70vw;
}

.text_header {
    font-family: 'mybrice';
    color: #be1d2d;
    font-size: 2em;
}

.sub_menu_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.sub_menu_type {
    font-family: 'briceblack_semiexpanded';
    color: #be1d2d;
    font-size: 1.5em;
    text-align: center;
}

.sub_menu_line {
    border: solid rgb(0, 128, 201) 1px;
}

.top_margin_container {
    display: flex;
    width: 82.5vw;
}

.margin_top_line {
    border-top: solid rgb(0, 128, 201) 5px;
    width: 80vw;   
}

.margin_bottom_line {
    border-bottom: solid rgb(0, 128, 201) 5px;
    width: 88%;   
}

.corner{
    width: 5vw;
}

.corner_bottom {
    width: 5vw;
    transform: scale(1,-1)
}

.sub_menu_elements {
    border-left: solid rgb(0, 128, 201) 5px;
    border-right: solid rgb(0, 128, 201) 5px;
    width: 80vw;  
}

.desc_and_pice{
    margin-top: 10px;
}

.element_price {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #be1d2d;
}

.element_desc {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #be1d2d;
}


.menu_elements_padding {
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    margin-top: 20px;
    height: 50px;
}

.footer_text {
    font-family: "roc-grotesk-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #0080c9;
}

.estrella_roja_container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.estrella_separador {
    width: 5vw;  
}