
* {
    margin: 0;
}

@font-face {
    font-family: "brice";
    src: local(fonts\brice\Brice-BlackSemiExpanded);

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.estrella_header {
    width: 5vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    width: 70vw;
}

.text_header {
    font-family: "brice";
    color: #be1d2d;
    font-size: 2em;
    font-weight: 800;
    font-style: normal;

}

.sub_menu_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.sub_menu_type {
    font-family: "brice";
    color: #be1d2d;
    font-size: 2em;
    text-align: center;
    font-weight: 800;
}

.sub_menu_line {
    border: solid rgb(0, 128, 201) 1px;
}

.top_margin_container {
    display: flex;
    width: 82.5vw;
}

.margin_top_line {
    border-top: solid rgb(0, 128, 201) 5px;
    width: 80vw;   
}

.margin_bottom_line {
    border-bottom: solid rgb(0, 128, 201) 5px;
    width: 88%;   
}

.corner{
    width: 5vw;
}

.corner_bottom {
    width: 5vw;
    transform: scale(1,-1)
}

.sub_menu_elements {
    border-left: solid rgb(0, 128, 201) 5px;
    border-right: solid rgb(0, 128, 201) 5px;
    width: 80vw;  
}

.desc_and_pice{
    margin-top: 10px;
}

.element_price {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #be1d2d;
}

.element_desc {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #be1d2d;
}


.menu_elements_padding {
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    margin-top: 20px;
}

.footer_text {
    font-family: "roc-grotesk-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #0080c9;
}
